<body>
  <div class="main">
    <div class="box">
      <div class="box-one">
        <div class="intro-one">Hi, I'm </div>
        <div class="intro-two">Beatriz Oliveira</div>
      </div>
      <div class="title-one">Front-End Developer</div>
      <button class="click-me" [routerLink]="['/about-me']">
        <img class="avatar" src="../../../assets/avatar.svg"
          alt="Bia's cartoon representation. White girl, with green eyes and blond curly hair wearing a high neck pink sweater">
      </button>
    </div>
  </div>
</body>
