@-webkit-keyframes avatar {
  from {-webkit-transform: rotate(10deg)}
  to   {-webkit-transform: rotate(-10deg)}
}

@keyframes avatar {
  from {transform: rotate(10deg)}
  to   {transform: rotate(-10deg)}
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
}

.box {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-one {
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
}

.intro-one {
  font-size: 20px;
  padding-right: 7px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.intro-two {
  color: #F3D4CF;
  font-size: 20px;
  border-bottom: solid 1.5px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.intro-two:hover {
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}

.intro-two:hover:after {
  content: url(../../../assets/hello.svg);
  padding-left: 7px;
}

.title-one {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}

.click-me {
  background: none;
  border-radius: 100px;
  border: hidden;
} .click-me:hover {
  padding-top: 40px;
  transform: scale(1.4);
}

.avatar {
  width: 190px;
  cursor: pointer;
}

.avatar:hover {
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  -webkit-animation: avatar 1s alternate infinite ease-in-out;
  animation: avatar 1s alternate infinite ease-in-out;
  opacity: 30%;
}
